body {
    margin: 0;
}

.App {
    top: 8%;
    left: 5%;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    position: absolute;
    z-index: 99999;
}

.popup1 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.row {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 120px;
    height: 120px;
    background-color: #efefef;
    border-radius: 1px;
}

.cont1 {
    width: 600px;
    height: 500px;
    border-radius: 2px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    overflow: auto;
    overflow-x: hidden;
    z-index: 9999;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
}

.next {
    padding: 8px;
    width: 28rem;
    margin-top: 0.5rem;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.4s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: white;
        color: red;
        border: 1px solid red;
    }
}

.below {
    display: flex;
    flex-direction: column;

}

.bel {
    display: flex;
    justify-content: flex-start;
}

.head {
    display: flex;
}

.back {
    width: 25px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}