/* Magazine.css */
.magazine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
}

.magazine-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.flip-book-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.flip-book {
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flip-book img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button {
  font-size: 16px;
  margin: 0 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.pagination span {
  font-size: 16px;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}