.slider-container {
  position: relative;
  overflow: hidden;
  margin-top: 135px;
  border-bottom: 1px solid #fafafa;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider-cont {
  display: flex;
  overflow: scroll;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.sd {
  height: 67vh;
  width: 40rem;
  flex-shrink: 0;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow-rightS {
  position: absolute;
  top: 50%;
  right: 10px;
  /* Adjust the right offset as needed */
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrow-nav {
  width: 1.6rem;
  height: 2rem;
  padding-right: 0.2rem;
  color: rgb(248, 245, 245);
  cursor: pointer;
}

.arrow-left {
  margin-left: 0.3rem;
}

.slider-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-cont::-webkit-scrollbar {
  display: none;
}

.circle {
  position: absolute;
}

.hover-box {
  position: absolute;
  top: 15px; /* Adjust the position as needed */
  left: -5px;
  /* transform: translateX(-50%); */
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  display: none; /* Initially hide the box */
}

.circle:hover .hover-box {
  display: block; /* Show the box on hover */
  flex-direction: row;
  gap: 10px;
}

.top-condition {
  top: -100px;
}

.left-condition {
  left: -100px;
}

.circle-container:hover .circle {
  display: block;
}

.circle {
  display: none;
}
