.navbar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border: 1px solid #e6e3e3;
    height: 70px;
    width: 100vw;
    flex: 1 2 1;
}

.between {
    flex: 3;
}

.navbar-left {
    flex: 1;
}

.navbar-right {
    flex: 2;
}

.cell {
    padding-left: 1em;
    text-align: center;
    margin-bottom: 1em;
    padding: .8em 1em 0;
}


.searchbar {
    display: flex;
    gap: 1rem;
    margin-top: 5px;
    padding: 0.75rem;
    border-radius: 2.5rem;
    align-items: center;
    background-color: #efefef;
}

.searchbar:hover {
    background-color: #e2e2e2;
}

.seachbar-div {
    font-weight: 600;
}

.seachbar-div2 {
    display: flex;
    font-weight: 600;
    color: #c5c3c3;
}

.navbar-right {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    /* float: left; */
    gap: 2rem;
    /* margin-right: 15px; */
    /* padding: 0.6rem; */
    font-weight: 600;
}

.profile-home {
    margin-top: 12px;
}

.profile-language {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-account {
    display: flex;
    gap: 0.75rem;
    font-weight: 600;
    background-color: #c8c8c8;
    margin-top: 8px;
    border-radius: 5rem;
    height: 40px;
    padding: 0.3rem 0.5rem 0 0.7rem;
}

.bottom-navbar {
    display: none;
}

#basic-menu {
    z-index: 99999;
}

@media only screen and (max-width : 800px) {

    .navbar-logo,
    .searchbar,
    .navbar-right {
        display: none;
    }

    .bottom-navbar {
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: #333;
    }
}